<center><h1>House Price Prediction (Regression)</h1></center>

<div style="text-align: center;">
    <img src="https://www.bankrate.com/2022/09/13091209/tips-for-selling-your-home.jpg?auto=webp&optimize=high&crop=16:9" alt="Home Selling Tips">
</div>

Data on houses for sale in Istanbul and Izmir, listed on the website emlaksitem.com, was collected using web scraping. The collected data includes various features such as price, location, number of rooms, and square footage of the properties. The data was processed through a data preprocessing stage and subsequently used in a regression model to predict the price column.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('emlak_sitem.csv')

## EDA (Exploratory Data Analysis)

In [3]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Aidat (TL),Banyo Sayısı,Bina Yaşı,Bir Kattaki Daire,Bulunduğu Kat,Eşyalı,Gör. Arama İle Gez.,Isıtma,...,Metre Karesi (Net),Oda Sayısı,Price,Site İçerisinde,Takaslı,Yapı Kullanım İzin D.,İlan No,İlan Tarihi,İlan Türü,Şehir
0,0,0.0,NaN,: 1,: 26-30,NaN,: 3,NaN,NaN,: Doğalgaz (Kombi),...,: 95m2,: 2+1,2.600.000 TL,NaN,: Hayır,NaN,: 29664799,: 31 Temmuz 24,: Satılık Daire,Istanbul
1,1,1.0,NaN,: 1,: 21-25,NaN,: Giriş Katı,NaN,NaN,: Kalorifer (Doğalgaz),...,: 75m2,: 2+1,1.700.000 TL,NaN,: Hayır,NaN,: 86903439,: 31 Temmuz 24,: Satılık Daire,Istanbul
2,2,2.0,: 1702,: 1,: 5-10,NaN,: 7,: Hayır,: Evet,: Doğalgaz (Kombi),...,: 82m2,: 2+1,2.400.000 TL,: Evet,: Hayır,NaN,: 38180664,: 29 Temmuz 24,: Satılık Daire,Istanbul
3,3,3.0,NaN,: 2,: 4,: 2,: 5,: Hayır,: Hayır,: Doğalgaz (Kombi),...,: 180m2,: 4+2,5.150.000 TL,: Hayır,: Hayır,: Var,: 34448355,: 31 Temmuz 24,: Satılık Daire,Istanbul
4,4,4.0,NaN,: 1,: 16-20,: 2,: Yüksek Giriş,: Hayır,: Hayır,: Doğalgaz (Kombi),...,: 75m2,: 1+1,2.000.000 TL,: Hayır,: Hayır,: Var,: 34118702,: 30 Temmuz 24,: Satılık Daire,Istanbul

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123 entries, 0 to 1122
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0.1           1123 non-null   int64
 1   Unnamed: 0             423 non-null    float64
 2   Aidat (TL)             262 non-null    object
 3   Banyo Sayısı           1117 non-null   object
 4   Bina Yaşı              1117 non-null   object
 5   Bir Kattaki Daire      633 non-null    object
 6   Bulunduğu Kat          1117 non-null   object
 7   Eşyalı                 709 non-null    object
 8   Gör. Arama İle Gez.    572 non-null    object
 9   Isıtma                 1117 non-null   object
 10  Kat Sayısı             1117 non-null   object
 11  Krediye Uygun          1108 non-null   object
 12  Kullanım Durumu        1117 non-null   object
 13  Kısıtlama              1117 non-null   object
 14  Metre Karesi (Net)     1122 non-null   object
 15  Oda Sayısı             1117 non-null   object
 16  Price                  1122 non-null   object
 17  Site İçerisinde        709 non-null    object
 18  Takaslı                1117 non-null   object
 19  Yapı Kullanım İzin D.  607 non-null    object
 20  İlan No                1122 non-null   object
 21  İlan Tarihi            1122 non-null   object
 22  İlan Türü              1122 non-null   object
 23  Şehir                  1123 non-null   object
dtypes: float64(1), int64(1), object(22)
memory usage: 210.7+ KB

In [5]:
df.isnull().sum()

Unnamed: 0.1               0
Unnamed: 0               700
Aidat (TL)               861
Banyo Sayısı               6
Bina Yaşı                  6
Bir Kattaki Daire        490
Bulunduğu Kat              6
Eşyalı                   414
Gör. Arama İle Gez.      551
Isıtma                     6
Kat Sayısı                 6
Krediye Uygun             15
Kullanım Durumu            6
Kısıtlama                  6
Metre Karesi (Net)         1
Oda Sayısı                 6
Price                      1
Site İçerisinde          414
Takaslı                    6
Yapı Kullanım İzin D.    516
İlan No                    1
İlan Tarihi                1
İlan Türü                  1
Şehir                      0
dtype: int64

In [6]:
df=df.drop(['Aidat (TL)',"Unnamed: 0.1","Unnamed: 0","Bir Kattaki Daire","Gör. Arama İle Gez.","Yapı Kullanım İzin D."],axis=1)

In [7]:
df.head()

,Banyo Sayısı,Bina Yaşı,Bulunduğu Kat,Eşyalı,Isıtma,Kat Sayısı,Krediye Uygun,Kullanım Durumu,Kısıtlama,Metre Karesi (Net),Oda Sayısı,Price,Site İçerisinde,Takaslı,İlan No,İlan Tarihi,İlan Türü,Şehir
0,: 1,: 26-30,: 3,NaN,: Doğalgaz (Kombi),: 3,: Hayır,: Boş,: Yok,: 95m2,: 2+1,2.600.000 TL,NaN,: Hayır,: 29664799,: 31 Temmuz 24,: Satılık Daire,Istanbul
1,: 1,: 21-25,: Giriş Katı,NaN,: Kalorifer (Doğalgaz),: 6,: Hayır,: Mülk Sahibi,: Yok,: 75m2,: 2+1,1.700.000 TL,NaN,: Hayır,: 86903439,: 31 Temmuz 24,: Satılık Daire,Istanbul
2,: 1,: 5-10,: 7,: Hayır,: Doğalgaz (Kombi),: 12,: Evet,: Mülk Sahibi,: Yok,: 82m2,: 2+1,2.400.000 TL,: Evet,: Hayır,: 38180664,: 29 Temmuz 24,: Satılık Daire,Istanbul
3,: 2,: 4,: 5,: Hayır,: Doğalgaz (Kombi),: 5,: Evet,: Boş,: Yok,: 180m2,: 4+2,5.150.000 TL,: Hayır,: Hayır,: 34448355,: 31 Temmuz 24,: Satılık Daire,Istanbul
4,: 1,: 16-20,: Yüksek Giriş,: Hayır,: Doğalgaz (Kombi),: 5,: Evet,: Boş,: Yok,: 75m2,: 1+1,2.000.000 TL,: Hayır,: Hayır,: 34118702,: 30 Temmuz 24,: Satılık Daire,Istanbul

In [8]:
df = df.applymap(lambda x: x[2:] if isinstance(x, str) and x.startswith(': ') else x)#The ': ' has been removed from all data

<ipython-input-8-17144193a2da>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x[2:] if isinstance(x, str) and x.startswith(': ') else x)#The ': ' has been removed from all data

In [9]:
df.head()

,Banyo Sayısı,Bina Yaşı,Bulunduğu Kat,Eşyalı,Isıtma,Kat Sayısı,Krediye Uygun,Kullanım Durumu,Kısıtlama,Metre Karesi (Net),Oda Sayısı,Price,Site İçerisinde,Takaslı,İlan No,İlan Tarihi,İlan Türü,Şehir
0,1,26-30,3,NaN,Doğalgaz (Kombi),3,Hayır,Boş,Yok,95m2,2+1,2.600.000 TL,NaN,Hayır,29664799,31 Temmuz 24,Satılık Daire,Istanbul
1,1,21-25,Giriş Katı,NaN,Kalorifer (Doğalgaz),6,Hayır,Mülk Sahibi,Yok,75m2,2+1,1.700.000 TL,NaN,Hayır,86903439,31 Temmuz 24,Satılık Daire,Istanbul
2,1,5-10,7,Hayır,Doğalgaz (Kombi),12,Evet,Mülk Sahibi,Yok,82m2,2+1,2.400.000 TL,Evet,Hayır,38180664,29 Temmuz 24,Satılık Daire,Istanbul
3,2,4,5,Hayır,Doğalgaz (Kombi),5,Evet,Boş,Yok,180m2,4+2,5.150.000 TL,Hayır,Hayır,34448355,31 Temmuz 24,Satılık Daire,Istanbul
4,1,16-20,Yüksek Giriş,Hayır,Doğalgaz (Kombi),5,Evet,Boş,Yok,75m2,1+1,2.000.000 TL,Hayır,Hayır,34118702,30 Temmuz 24,Satılık Daire,Istanbul

In [10]:
df["Banyo Sayısı"].value_counts()

Banyo Sayısı
1     714
2     362
3      28
4       7
5       3
6+      3
Name: count, dtype: int64

In [11]:
df.shape

(1123, 18)

In [12]:
import numpy as np

In [13]:
df = df[~df['Banyo Sayısı'].isnull()]

In [14]:
df.isnull().sum()

Banyo Sayısı            0
Bina Yaşı               0
Bulunduğu Kat           0
Eşyalı                408
Isıtma                  0
Kat Sayısı              0
Krediye Uygun           9
Kullanım Durumu         0
Kısıtlama               0
Metre Karesi (Net)      0
Oda Sayısı              0
Price                   0
Site İçerisinde       408
Takaslı                 0
İlan No                 0
İlan Tarihi             0
İlan Türü               0
Şehir                   0
dtype: int64

In [15]:
df['Banyo Sayısı'] = df['Banyo Sayısı'].replace('6+','6').astype(int)

<ipython-input-15-ed904eee56d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Banyo Sayısı'] = df['Banyo Sayısı'].replace('6+','6').astype(int)

In [16]:
df['Bina Yaşı']=df['Bina Yaşı'].replace("5-10","7")
df['Bina Yaşı']=df['Bina Yaşı'].replace("11-15","13")
df['Bina Yaşı']=df['Bina Yaşı'].replace("16-20","18")
df['Bina Yaşı']=df['Bina Yaşı'].replace("21-25","23")
df['Bina Yaşı']=df['Bina Yaşı'].replace("26-30","28")
df['Bina Yaşı']=df['Bina Yaşı'].replace("30+","45")

<ipython-input-16-217076c4d0f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bina Yaşı']=df['Bina Yaşı'].replace("5-10","7")
<ipython-input-16-217076c4d0f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bina Yaşı']=df['Bina Yaşı'].replace("11-15","13")
<ipython-input-16-217076c4d0f2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bina Yaşı']=df['Bina Yaşı'].replace("16-20","18")
<ipython-input-16-217076c4d0f2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bina Yaşı']=df['Bina Yaşı'].replace("21-25","23")
<ipython-input-16-217076c4d0f2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bina Yaşı']=df['Bina Yaşı'].replace("26-30","28")
<ipython-input-16-217076c4d0f2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bina Yaşı']=df['Bina Yaşı'].replace("30+","45")

In [17]:
df['Bina Yaşı']=df['Bina Yaşı'].astype(int)

<ipython-input-17-d45c730cc1ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bina Yaşı']=df['Bina Yaşı'].astype(int)

In [18]:
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace(["Bahçe Katı","Giriş Katı","Zemin Kat","Müstakil"],"0")
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Kot 1",'-1')
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Kot 2",'-2')
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Kot 3",'-3')
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Kot 4",'-4')
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace(["Bodrum Kat","Çatı Katı",""],'-1')
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Yüksek Giriş",'1')
df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Villa Tipi",'7')

<ipython-input-18-448bf9c277ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace(["Bahçe Katı","Giriş Katı","Zemin Kat","Müstakil"],"0")
<ipython-input-18-448bf9c277ff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Kot 1",'-1')
<ipython-input-18-448bf9c277ff>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Kot 2",'-2')
<ipython-input-18-448bf9c277ff>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bulunduğu Kat']=df['Bulunduğu Kat'].replace("Kot 3",'-3')

In [19]:
df['Bulunduğu Kat'].value_counts()

Bulunduğu Kat
1         223
2         200
3         164
4         137
0         136
5          70
-1         37
6          26
11         25
7          24
8          16
9          14
10         13
16          8
-2          6
13          4
-3          3
-4          3
12          1
14          1
27          1
15          1
17          1
18          1
21          1
Komple      1
Name: count, dtype: int64

In [20]:
df=df[df['Bulunduğu Kat']!='Komple']

In [21]:
df['Eşyalı'].fillna('Hayır', inplace=True)

<ipython-input-21-2855ab3bd36f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Eşyalı'].fillna('Hayır', inplace=True)

In [22]:
df['Isıtma'].value_counts()

Isıtma
Doğalgaz (Kombi)              693
Klima                         109
Merkezi Sistem (Pay Ölçer)     81
Yok                            72
Merkezi Sistem                 52
Soba                           42
Yerden Isıtma                  18
Kalorifer (Doğalgaz)           11
Jeotermal                      11
Doğalgaz Sobası                 9
Kalorifer (Kömür)               6
Kombi (Elektrikli)              4
Fan-Coil                        3
Kat Kaloriferi                  3
Güneş Enerjisi                  1
Isı Pompası                     1
Name: count, dtype: int64

In [23]:
replacements = {
    "Doğalgaz (Kombi)": "Doğalgaz",
    "Kalorifer (Doğalgaz)": "Doğalgaz",
    "Doğalgaz Sobası": "Doğalgaz",
    "Merkezi Sistem (Pay Ölçer)": "Merkezi Sistem",
    "Merkezi Sistem": "Merkezi Sistem",
    "Soba": "Soba",
    "Yerden Isıtma": "Yerden Isıtma",
    "Kalorifer (Kömür)": "Kalorifer",
    "Fan-Coil": "Kalorifer",
    "Kat Kaloriferi": "Kalorifer",
    "Kombi (Elektrikli)": "Kombi",
    "Jeotermal": "Jeotermal",
    "Güneş Enerjisi": "Güneş Enerjisi",
    "Isı Pompası": "Isı Pompası",
    "Yok": "Yok",
    "Klima": "Klima"
}
df['Isıtma'] = df['Isıtma'].replace(replacements)

In [24]:
df['Isıtma'].value_counts()

Isıtma
Doğalgaz          713
Merkezi Sistem    133
Klima             109
Yok                72
Soba               42
Yerden Isıtma      18
Kalorifer          12
Jeotermal          11
Kombi               4
Güneş Enerjisi      1
Isı Pompası         1
Name: count, dtype: int64

In [25]:
df=df[df['Isıtma']!='Güneş Enerjisi']

In [26]:
df=df[df['Isıtma']!='Isı Pompası']

In [27]:
df['Site İçerisinde'].fillna('Hayır', inplace=True)

In [28]:
df.head()

,Banyo Sayısı,Bina Yaşı,Bulunduğu Kat,Eşyalı,Isıtma,Kat Sayısı,Krediye Uygun,Kullanım Durumu,Kısıtlama,Metre Karesi (Net),Oda Sayısı,Price,Site İçerisinde,Takaslı,İlan No,İlan Tarihi,İlan Türü,Şehir
0,1,28,3,Hayır,Doğalgaz,3,Hayır,Boş,Yok,95m2,2+1,2.600.000 TL,Hayır,Hayır,29664799,31 Temmuz 24,Satılık Daire,Istanbul
1,1,23,0,Hayır,Doğalgaz,6,Hayır,Mülk Sahibi,Yok,75m2,2+1,1.700.000 TL,Hayır,Hayır,86903439,31 Temmuz 24,Satılık Daire,Istanbul
2,1,7,7,Hayır,Doğalgaz,12,Evet,Mülk Sahibi,Yok,82m2,2+1,2.400.000 TL,Evet,Hayır,38180664,29 Temmuz 24,Satılık Daire,Istanbul
3,2,4,5,Hayır,Doğalgaz,5,Evet,Boş,Yok,180m2,4+2,5.150.000 TL,Hayır,Hayır,34448355,31 Temmuz 24,Satılık Daire,Istanbul
4,1,18,1,Hayır,Doğalgaz,5,Evet,Boş,Yok,75m2,1+1,2.000.000 TL,Hayır,Hayır,34118702,30 Temmuz 24,Satılık Daire,Istanbul

In [29]:
df['Kat Sayısı'].value_counts()

Kat Sayısı
4      289
5      274
3      169
6       80
2       56
15      48
8       41
7       35
10      23
9       23
20      14
17      13
30+      9
16       8
25       8
1        7
19       4
29       4
11       3
14       3
13       2
12       1
Name: count, dtype: int64

In [30]:
df['Kat Sayısı'] = df['Kat Sayısı'].replace("30+","30").astype(int)

In [31]:
df['Metre Karesi (Net)'].value_counts()

Metre Karesi (Net)
110m2    101
100m2     82
90m2      70
80m2      68
120m2     63
        ...
152m2      1
174m2      1
48m2       1
187m2      1
176m2      1
Name: count, Length: 124, dtype: int64

In [32]:
df['Metre Karesi (Net)'] = df['Metre Karesi (Net)'].str.replace("m2","").astype(int)

In [33]:
df['Oda Sayısı'].value_counts()

Oda Sayısı
3+1             478
2+1             422
1+1              95
4+1              63
4+2              18
5+1              12
5+2               7
Stüdyo (1+0)      7
3+2               4
6+2               2
7+2               2
5+0               1
2+0               1
2+2               1
6+1               1
Name: count, dtype: int64

In [34]:
df['Oda Sayısı'] = df['Oda Sayısı'].str.replace("Stüdyo (1+0)","1")

In [35]:
df['Oda Sayısı'] = df['Oda Sayısı'].apply(lambda x: str(eval(x))).astype(int)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1114 entries, 0 to 1122
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Banyo Sayısı        1114 non-null   int64
 1   Bina Yaşı           1114 non-null   int64
 2   Bulunduğu Kat       1114 non-null   object
 3   Eşyalı              1114 non-null   object
 4   Isıtma              1114 non-null   object
 5   Kat Sayısı          1114 non-null   int64
 6   Krediye Uygun       1105 non-null   object
 7   Kullanım Durumu     1114 non-null   object
 8   Kısıtlama           1114 non-null   object
 9   Metre Karesi (Net)  1114 non-null   int64
 10  Oda Sayısı          1114 non-null   int64
 11  Price               1114 non-null   object
 12  Site İçerisinde     1114 non-null   object
 13  Takaslı             1114 non-null   object
 14  İlan No             1114 non-null   object
 15  İlan Tarihi         1114 non-null   object
 16  İlan Türü           1114 non-null   object
 17  Şehir               1114 non-null   object
dtypes: int64(5), object(13)
memory usage: 165.4+ KB

In [37]:
df['Krediye Uygun'].value_counts()

Krediye Uygun
Evet     930
Hayır    175
Name: count, dtype: int64

In [38]:
df['Kısıtlama'].value_counts()

Kısıtlama
Yok       1096
Diğer       16
İpotek       2
Name: count, dtype: int64

In [39]:
df['Price'] = df['Price'].str.replace("TL","")
df['Price'] = df['Price'].str.replace(".","")
df['Price'] = df['Price'].astype(int)

In [40]:
df['Metre Karesi (Net)'] = df['Metre Karesi (Net)']**2

In [41]:
df['Banyo Sayısı'] = df['Banyo Sayısı']**4

In [42]:
df['Oda Sayısı'] = df['Oda Sayısı']**3

In [43]:
df

,Banyo Sayısı,Bina Yaşı,Bulunduğu Kat,Eşyalı,Isıtma,Kat Sayısı,Krediye Uygun,Kullanım Durumu,Kısıtlama,Metre Karesi (Net),Oda Sayısı,Price,Site İçerisinde,Takaslı,İlan No,İlan Tarihi,İlan Türü,Şehir
0,1,28,3,Hayır,Doğalgaz,3,Hayır,Boş,Yok,9025,27,2600000,Hayır,Hayır,29664799,31 Temmuz 24,Satılık Daire,Istanbul
1,1,23,0,Hayır,Doğalgaz,6,Hayır,Mülk Sahibi,Yok,5625,27,1700000,Hayır,Hayır,86903439,31 Temmuz 24,Satılık Daire,Istanbul
2,1,7,7,Hayır,Doğalgaz,12,Evet,Mülk Sahibi,Yok,6724,27,2400000,Evet,Hayır,38180664,29 Temmuz 24,Satılık Daire,Istanbul
3,16,4,5,Hayır,Doğalgaz,5,Evet,Boş,Yok,32400,216,5150000,Hayır,Hayır,34448355,31 Temmuz 24,Satılık Daire,Istanbul
4,1,18,1,Hayır,Doğalgaz,5,Evet,Boş,Yok,5625,8,2000000,Hayır,Hayır,34118702,30 Temmuz 24,Satılık Daire,Istanbul
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,1,13,9,Hayır,Doğalgaz,9,Evet,Mülk Sahibi,Yok,7225,27,1750000,Evet,Hayır,35284429,27 Mayıs 21,Satılık Daire,Izmir
1119,16,7,6,Hayır,Doğalgaz,8,Evet,Mülk Sahibi,Yok,16900,64,3150000,Evet,Hayır,35663884,11 Mart 21,Satılık Daire,Izmir
1120,16,7,2,Hayır,Doğalgaz,5,Evet,Boş,Yok,15625,64,3850000,Hayır,Hayır,35703616,13 Ağustos 20,Satılık Daire,Izmir
1121,16,23,1,Hayır,Kalorifer,2,Evet,Boş,Yok,12100,64,16000000,Hayır,Hayır,35324896,12 Mart 20,Satılık Daire,Izmir
1122,16,28,1,Hayır,Doğalgaz,5,Evet,Mülk Sahibi,Yok,13225,64,3750000,Hayır,Hayır,35239419,18 Kasım 20,Satılık Daire,Izmir

In [44]:
df['Bulunduğu Kat']=df['Bulunduğu Kat'].astype(int)

In [45]:
x=df.drop(['Price','İlan Türü','İlan Tarihi','İlan No'],axis=1)
y=df['Price']

In [46]:
x=x.drop(["Bulunduğu Kat","Takaslı","Eşyalı","Krediye Uygun"],axis=1)

In [47]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1114 entries, 0 to 1122
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Banyo Sayısı        1114 non-null   int64
 1   Bina Yaşı           1114 non-null   int64
 2   Isıtma              1114 non-null   object
 3   Kat Sayısı          1114 non-null   int64
 4   Kullanım Durumu     1114 non-null   object
 5   Kısıtlama           1114 non-null   object
 6   Metre Karesi (Net)  1114 non-null   int64
 7   Oda Sayısı          1114 non-null   int64
 8   Site İçerisinde     1114 non-null   object
 9   Şehir               1114 non-null   object
dtypes: int64(5), object(5)
memory usage: 95.7+ KB

In [48]:
x=pd.get_dummies(x)

In [49]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",100)

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import ExtraTreeRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error


def algo_test(x,y):
        L=LinearRegression()
        R=Ridge()
        Lass=Lasso()
        E=ElasticNet()
        ETR=ExtraTreeRegressor()
        GBR=GradientBoostingRegressor()
        kn=KNeighborsRegressor()
        dt=DecisionTreeRegressor()
        xgb=XGBRegressor()
        ab=AdaBoostRegressor()
        rf=RandomForestRegressor()


        algos=[L,R,Lass,E,ETR,GBR,kn,dt,xgb,ab,rf]
        algo_names=['Linear','Ridge','Lasso','ElasticNet','Extra Tree','Gradient Boosting',
                    'KNeighbors','Decision Tree','XGBRegressor', 'AdaBoost', 'Random Forest']

        x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=.2,random_state=42)

        r_squared= []
        rmse= []
        mae= []

        result=pd.DataFrame(columns=['R_Squared','RMSE','MAE'],index=algo_names)


        for algo in algos:
            p=algo.fit(x_train,y_train).predict(x_test)
            r_squared.append(r2_score(y_test,p))
            rmse.append(mean_squared_error(y_test,p)**.5)
            mae.append(mean_absolute_error(y_test,p))


        result.R_Squared=r_squared
        result.RMSE=rmse
        result.MAE=mae

        rtable=result.sort_values('R_Squared',ascending=False)
        return rtable

In [50]:
algo_test(x,y)

                   R_Squared          RMSE           MAE
XGBRegressor        0.804001  4.158776e+06  1.890086e+06
Gradient Boosting   0.774906  4.456778e+06  1.873012e+06
Random Forest       0.665378  5.433958e+06  2.008922e+06
Ridge               0.628089  5.728731e+06  2.395346e+06
Lasso               0.626096  5.744062e+06  2.403135e+06
Linear              0.626095  5.744067e+06  2.403141e+06
ElasticNet          0.624469  5.756543e+06  2.341427e+06
KNeighbors          0.490018  6.708362e+06  2.598206e+06
Decision Tree       0.484131  6.746970e+06  2.647706e+06
Extra Tree          0.436002  7.054684e+06  2.953367e+06
AdaBoost            0.230011  8.242921e+06  5.547507e+06

## Result

As a result, the data collected through web scraping was used for training and testing purposes in a regression model after necessary preprocessing. The R² score achieved with the XGBRegressor model was 80%.